*{
    margin: 0 auto;
    padding: 0;
    outline: 0 none;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
  }

  table {
    width: 800px;
    border-spacing: 0;
}


  td,th {
    padding: 20px; 
    text-align: left; 
   }
   
   th, td {
    border-bottom: 1px solid darkslategrey;
   }