*{
    margin: auto;
    padding: 0;
}

img[src="img/black_bishop-512.png"] {
    width: 200px; 
    height: 200px;
}

img[src="img/white_knight-512.png"] {
    width: 200px; 
    height: 200px;
}

img[src="img/white_rook-512.png"] {
    width: 200px; 
    height: 200px;
}


board {
    height: 900px;
    width: 900px;
    display: table-cell;
    vertical-align: middle;
}

.double-child{
    padding-top: 200px;
}

.thith-child{
    padding-top: 200px;
}

.child1{
    height: 200px;
    width: 200px;
    background-color: #850000;
    float:left; 
}

.child2 {
    height: 200px;
    width: 200px;
    background-color: white;
    float:left; 
}

.child3 {
    height: 200px;
    width: 200px;
    background-color: #850000;
     float:left; 
}

.child4 {
    height: 200px;
    width: 200px;
    background-color: white;
    float:left; 
    
}

.child5 {
    height: 200px;
    width: 200px;
    background-color: #850000;
    float:left; 
}    

.child6 {
    height: 200px;
    width: 200px;
    background-color: white;
    float:left; 
}

.child7 {
    height: 200px;
    width: 200px;
    background-color: #850000;
    float:left; 
}

.child8 {
    height: 200px;
    width: 200px;
    background-color: white;
    float:left; 
}

.child9 {
    height: 200px;
    width: 200px;
    background-color: #850000;
    float:left; 
}
