.parent{
 text-align: center;
 background-color: #80cdc6;
 width: 560px;
 height: 447px;
}



.layer1{
    width: 560px;
    height: 447px;
    position: absolute; 
    top: 125px;
}

.layer2{
    width: 350px;
    position: absolute;
    left: 215px;
}

.layer3{
    width: 560px;
    height: 447px;
    position: absolute;
    top: 430px;
    z-index: 4;
}

.layer4{
    width: 100px;
    position: absolute;   
    top: 340px;
    left: 30px;
    z-index: 3;
}