*{
    margin: 0 auto;
    padding: 0;
    outline: 0 none;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   text-align: center;
  }

  table, td, th { border: 1px solid gray }

  table{
    border-collapse: collapse;
    padding: 2; 
    border-spacing: 0;
    color: black;
  }

  th, td{
    padding: 6px;
  }

  .left{
      text-align: left;
  }

  tr{
      text-align: center;
  }