   *{
     margin: 0 auto;
     padding: 0;
     outline: 0 none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
   }

   p:nth-child(even){
       background-color: gray;
   }