*{
    margin: 0;
    padding: 0;
}


.wrapper{
    margin: 10px;
    height: 530px;
    width: 380px;
    border: 2px solid black;

}

h3{
    padding-top: 10px;
    padding-bottom: 28px;
    font-family: Tahoma;
    font-size: 16pt;
    text-align: center;
}

img[src="img/tab_3_7_05_home_page_1.jpg"] {
    width: 250px; 
    height: 280px;
    margin-left: 70px;
}


p{
    font-size: 31px;
    font-family: Tahoma;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.button1 {
    display: inline-block;
    width: 190px;
    height: 30px;
    font-size: 22px;
    font-family: Tahoma;
    color: white;
    background-color: #8bc144;
    box-shadow: -4px 3px 0px 0px rgba(156, 156, 156, 0.75);
    line-height: 1;
    appearance: none;
    border: none;
    padding-top: 5px;
}



button:focus {
outline: none
}

.button2 {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 230px;
    height: 45px;
    font-size: 22px;
    font-family: Tahoma;
    color: white;
    text-shadow: black 1px 0px 1px;
    background-color: #ff0000;
    box-shadow: -4px 3px 0px 0px rgba(133, 0, 0, 0.75);
    line-height: 1;
    border: none;
    margin-left: 70px;
 
}


